<div class="panel panel-primary" id="BasePanel">
    <div class="panel-heading">
        <h3 class="panel-title">{{pageTitle}}</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-6" ng-repeat="album in Items">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{album.AlbumTitle}} </strong>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" width="130" height="120" ng-src="../../Content/images/AlbumCover/{{album.AlbumCover}}" alt="" />
                        </a>
                        <div class="media-body">
                            Artist: <label class="label label-info">{{album.ArtistName}} </label><br />
                            <i class="fa fa-music fa-fw"></i>: <a ng-href="#/album/{{album.ID}}/music">See Track List</a>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="text-center">
            <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}"
                          search-func="search(page)"></custom-pager>
        </div>
    </div>
</div>
<div id="Add Artist">
    <a class="btn btn-primary pull-right" ng-href="#/album/add">
        {{AddItem}}
        <i class="fa fa-plus-square fa-fw pull-left my-icon"></i>
    </a>
</div>