<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="fa fa-music"></i>
                Music Store
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Music</a></li>
                <li><a href="#/artist">Artists</a></li>
                <li><a href="#/album">Albums</a></li>
                <li class="form-inline">
                    <a class="pull-right">
                        <i class="fa fa-user fa-fw fa-pull-left my-icon"></i>
                        {{UserName}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>